<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Spotify Recommendation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background: url(https://avatars.slack-edge.com/2017-05-07/179302706689_13f452d1bc1869a7e316_512.png); background-size: 100% 100%;">
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>Spotify Recommendation Web App</h2>
    </div>
    <h4 class="mb-3" th:text="|로그인: ${member.name}|">로그인 사용자 이름</h4>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/songs/new}'|">
                곡 찾기
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/songs/list}'|">
                전체 곡 보기
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/members/memberInfo}'|">
                회원 정보 보기
            </button>
        </div>

        <div class="col">
            <form th:action="@{/playlist}" method="post">
                <button class="w-100 btn btn-dark btn-lg"
                        onclick="location.href='songs.html'" type="submit">
                    플레이리스트
                </button>
            </form>
        </div>

        <div class="col">
            <form th:action="@{/api/login}" method="post">
                <button class="w-100 btn btn-dark btn-lg"
                        onclick="location.href='songs.html'" type="submit">
                    내 최애 노래 확인
                </button>
            </form>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg"
                        onclick="location.href='songs.html'" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>