<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" action="/members/new" th:object="${memberForm}" method="post">
        <div class="form-group">
            <label th:for="email">email</label>

            <input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect data</p>

        </div>

        <div class="form-group">
            <label th:for="password">password</label>

            <input type="text" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect data</p>

        </div>

        <div class="form-group">
            <label th:for="name">name</label>

            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect data</p>

        </div>

        <div class="form-group">
            <label th:for="age">age</label>

            <input type="number" th:field="*{age}" class="form-control" placeholder="나이를 입력하세요"
                   th:class="${#fields.hasErrors('age')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Incorrect data</p>

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>