<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <h3> 회원 정보</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Age</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="memberDto : ${memberDto}">
                <td th:text="${memberDto.email}"></td>
                <td th:text="${memberDto.name}"></td>
                <td th:text="${memberDto.age}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>