<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: url(https://avatars.slack-edge.com/2017-05-07/179302706689_13f452d1bc1869a7e316_512.png); background-size: 100% 100%;">
<h1> Password is Updated</h1>

<div class="row">
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg" type="button" th:onclick="|location.href='@{/members/memberInfo}'|">
            회원 정보로 돌아가기
        </button>
    </div>
</body>
</html>